@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.hor-rec-item {
    background-image: url(./imgs/original.jpg);
    width: calc(50% - 18px);
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.hor-rec-item-cap {
    width: 100%;
    background-color: rgba(2, 2, 2, 0.6);
    
}

.hor-rec-item-cap-content {
    font-weight: 300;
    color: white;
    /* float: left; */
    padding: 15px 0;
}

.hor-rec-item-cap-content-main {
    font-size: 1.5em;
}

.hor-rec-item-cap-art {
    float: left;
}

.art-img {
    width: 70px;
    padding: 0 15px;
    position: relative;
    top: -15px; 
    float: left;
}

@media screen and (max-width: 1000px){
    .navbar {
        display: none;
    }
    .main {
        padding: 0;
    }
}

@media screen and (max-width: 600px){
    .row {
        flex-direction: column;
    }
    .hor-rec-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
    }
    .footer-ref + .footer-ref + .footer-ref {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}