/* .left {
    margin-right: 18px;
}

.right {
    margin-left: 18px;
} */

body::after {
    content: '';
    display: block;
    clear: both;
}

.navbar {
    background: #1e262c;
    width: 285px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: hidden;
}

.main {
    /* flex-grow: 1; */
    background: rgb(237, 241, 242);
    float: left;
    width: 100%;
    padding-left: 285px;
    box-sizing: border-box;
}

.content {
    background: rgb(237, 241, 242);
}

.footer {
    height: 200px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
}