.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 45px;
    margin: 54px 0px;
    box-sizing: border-box;
}

body::after {
    content: '';
    display: block;
    clear: both;
}

.navbar {
    background: #1e262c;
    width: 285px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: hidden;
}

.main {
    /* flex-grow: 1; */
    background: rgb(237, 241, 242);
    float: left;
    width: 100%;
    padding-left: 285px;
    box-sizing: border-box;
}

.content {
    background: rgb(237, 241, 242);
}

.footer {
    background: #fff;
    display: grid;
    /* justify-content: space-around;
    align-items: center; */
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 300;
    text-transform: capitalize;
    overflow: hidden;
    font-size: 0.9em;
    color: #444;
}

.footer > ul {
    list-style: none;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px 45px;
    box-sizing: border-box;
}