.navbar-ref {
    width: 100%;
    color: white;
    list-style: none;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(237, 241, 242, 0.2);
}

.navbar-origin-logo {
    background-image: url(./imgs/ea-origin-logo.png);
    background-repeat: no-repeat;
    background-size: 120px 60px;
    background-position: center;
    height: 100px;
    width: 100%;
}

.navbar-search-box {
    background: #fff;
    width: 85%;
    height: 43px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

.navbar-search-box-input {
    width: 70%;
    font-size: 1.015em;
    font-weight: 300;
    border: none;
    height: 100%;
    outline: none;
}

.navbar-ref-list {
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 15px 22px;
    font-size: 1.1em;
    align-items: center;
    font-weight: 350;
    transition: 0.3s;
}

.navbar-ref-list:hover {
    background: rgba(237, 241, 242, 0.1);
}

.navbar-ref-list-icon {
    margin-right: 20px;
}

.smaller {
    font-size: 0.95em;
    padding: 10px 22px;
}

.store {
    /* padding: 15px 19px; */
    border-left: 2px solid #f56c2d;
    background: rgba(237, 241, 242, 0.1);
}

.navbar-info {
    color: rgba(237, 241, 242, 0.3);
    width: 85%;
    display: flex;
    /* justify-content: space-around; */
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 0.9em;
}

.navbar-info-item::before {
    content: '●';
    margin: 0px 5px;
}

.navbar-footer {
    width: 242.25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid rgba(237, 241, 242, 0.2);
}

.button {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 300;
    width: 100%;
    padding: 12px 0px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.signin {
    background: #f56c2d;
}

.register {
    border: 1px solid rgba(237, 241, 242, 0.8);
}