.vertical-rec-item-row {
    max-width: 100%;
    /* padding: 0px 45px; */
    border-left: 45px solid rgba(0, 0, 0, 0);
    border-right: 45px solid rgba(0, 0, 0, 0);
    margin: 24px 0px 54px 0px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
}

.vertical-rec-item-row::after {
    content: '';
    display: block;
}

.vertical-rec-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    display: inline-block;
    margin-right: 1em;
    white-space: normal; /* remove item-row nowrap value  */
}

.vertical-rec-item-art {
    width: 100%;
    height: 211.5px;
    background: url(./imgs/1068989_LB_231x326_en_US_^_2018-05-15-11-18-11_20b645c9be922992507436cd482128d6dc3e30d6.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.vertical-rec-item-art:hover .vertical-rec-item-art-overlay{
    opacity: 1;    
}

.vertical-rec-item-art:hover .vertical-rec-item-btn{
    top: 0;
}

.vertical-rec-item-footer {
    width: 100%;
    height: 130px;
    font-size: 0.9em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-rec-item-title {
    width: 90%;
    margin-top: 5px;
    flex-grow: 1;
}

.vertical-rec-item-price {
    width: 90%;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    color: #f56c2d;
}

.vertical-rec-item-art-overlay {
    width: 85%;
    height: 100%;
    background: rgba(3, 3, 3, 0.7);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    transition: all 0.5s;
}

.vertical-rec-item-btn {
    position: relative;
    top: 10px;
    transition: all 0.5s;
}

.vertical-rec-item-wishlistadd {
    font-size: 0.9em;
    color: #DDD;
    text-decoration: none;
}

.vertical-rec-list-items-title {
    width: 100%;
    padding: 0px 45px;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

.carousel {
    overflow: visible;
}